# Lists

In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list = ['String', 100, 23.5]

In [4]:
my_list

['String', 100, 23.5]

In [5]:
len(my_list)

3

In [7]:
my_list[1:]

[100, 23.5]

In [8]:
mylist = ['one','two','three']

In [9]:
list2 = ['four','five']

In [10]:
newlist = mylist + list2

In [11]:
newlist

['one', 'two', 'three', 'four', 'five']

In [14]:
newlist.reverse()

In [15]:
newlist

['one', 'two', 'three', 'four', 'five']

In [16]:
newlist[0] = 'ONE'

In [17]:
newlist

['ONE', 'two', 'three', 'four', 'five']

In [18]:
newlist.append('six')

In [19]:
newlist

['ONE', 'two', 'three', 'four', 'five', 'six']

In [20]:
newlist.pop()

'six'

In [21]:
newlist

['ONE', 'two', 'three', 'four', 'five']

In [22]:
newlist.pop(-1)

'five'

In [23]:
alplist = ['a','x','d','o','d']
numlist = [5,3,7,2,8]

In [24]:
sortlist = alplist.sort()

In [25]:
sortlist

In [26]:
type(sortlist)

NoneType

In [27]:
sortlist = alplist

In [28]:
alplist

['a', 'd', 'd', 'o', 'x']

In [29]:
sortlist

['a', 'd', 'd', 'o', 'x']

In [30]:
numlist.reverse()

In [31]:
numlist

[8, 2, 7, 3, 5]

In [32]:
numlist

[8, 2, 7, 3, 5]

In [40]:
numlist = [5,3,7,2]

In [41]:
numlist

[5, 3, 7, 2]

In [42]:
numlist.reverse()

In [43]:
numlist

[2, 7, 3, 5]

In [44]:
numlist.sort()

In [45]:
numlist

[2, 3, 5, 7]

# Dictionaries

In [46]:
mydict = {'key1':'value1','key2':'value2'}

In [47]:
mydict

{'key1': 'value1', 'key2': 'value2'}

In [48]:
mydict['key1']

'value1'

In [51]:
prices_lookup = {'apple':100,'oranges':60,'chocolate':40}

In [52]:
prices_lookup['chocolate']

40

In [53]:
dct = {'k1':123,'k2':[0,1,2],'k3':{'inKey':100}}

In [54]:
dct

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'inKey': 100}}

In [55]:
d['k2']

NameError: name 'd' is not defined

In [56]:
dct['k2']

[0, 1, 2]

In [57]:
dct['k3']

{'inKey': 100}

In [58]:
dct['k3']['inKey']

100

In [59]:
dct1 = {'key1':['a','b','c']}

In [60]:
d

NameError: name 'd' is not defined

In [61]:
dct1

{'key1': ['a', 'b', 'c']}

In [63]:
mylist = dct1['key1']

In [64]:
mylist

['a', 'b', 'c']

In [65]:
letter = mylist[2]

In [66]:
letter

'c'

In [67]:
letter.isprintable()

True

In [68]:
letter.upper()

'C'

In [69]:
dct1

{'key1': ['a', 'b', 'c']}

In [73]:
dct1['key1'][2].upper()

'C'

In [74]:
d = {'k1':100,'k2':200}

In [75]:
d

{'k1': 100, 'k2': 200}

In [77]:
d['k3'] = 300

In [78]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [80]:
d['k1'] = 500

In [81]:
d

{'k1': 500, 'k2': 200, 'k3': 300}

In [82]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [83]:
d.values()

dict_values([500, 200, 300])

In [84]:
d.items()

dict_items([('k1', 500), ('k2', 200), ('k3', 300)])

# Tuples

! Main diff from lists 
    - Immutable
    - Use () instead of []

In [85]:
t = (1,2,3)

In [86]:
mylist

['a', 'b', 'c']

In [87]:
mylist = [1,2,3]

In [88]:
type(mylist)

list

In [89]:
type(t)

tuple

In [90]:
len(t)

3

In [91]:
t

(1, 2, 3)

In [92]:
t = ('one',2)

In [93]:
t[0]

'one'

In [94]:
t[-1]

2

In [95]:
t = ('a','b','c')

In [96]:
t.count('a')

1

In [97]:
t.index('c')

2

In [98]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

# Set

### Def: unordered collection of Unique items

In [99]:
myset = set()

In [100]:
myset

set()

In [101]:
myset.add(1)

In [102]:
myset

{1}

In [103]:
myset.add(2)

In [104]:
myset

{1, 2}

In [105]:
myset.add(1)

In [106]:
myset

{1, 2}

In [107]:
mylist

[1, 2, 3]

In [108]:
mylist = [1,1,1,1,2,2,3,3,4,4,5]

In [109]:
set(mylist)

{1, 2, 3, 4, 5}

In [110]:
type(mylist)

list

In [111]:
testset = set(mylist)

In [112]:
testset

{1, 2, 3, 4, 5}

In [113]:
type(testset)

set

# Booleans

### Used in Control Flow and Logic

In [114]:
True

True

In [115]:
False

False

In [117]:
type(True)

bool

In [118]:
1 > 2

False

In [119]:
1 == 1

True

In [120]:
b = None

In [121]:
b