In [2]:
print('Hello')

Hello

In [3]:
print('new')

new

Notes/Comment

In [4]:
int(3)

3

Modulo or "Mod" Operator

In [5]:
7/4

1.75

In [6]:
7%4

3

In [7]:
50%5

0

In [8]:
23%2

1

In [9]:
2 ** 3

8

In [10]:
2+10*10+3

105

In [11]:
(2+10)*(10+3)

156

In [12]:
1/2

0.5

In [13]:
my_var=2

In [14]:
my_var=2my_var=2

my_var

In [15]:
my_var=2
print(my_var)

2

In [17]:
0.1+0.2

0.30000000000000004

In [18]:
Decimal(2.675)

NameError: name 'Decimal' is not defined

In [19]:
from decimal import Decimal
Decimal(2.675)

Decimal('2.67499999999999982236431605997495353221893310546875')

In [20]:
a = 5

In [21]:
a

5

In [22]:
a = 10

In [23]:
a

10

In [24]:
a + a

20

In [25]:
a

10

In [34]:
a = a + a

In [35]:
a

160

In [31]:
a

40

In [36]:
type(a)

int

In [37]:
a = 30.1

In [38]:
type(a)

float

In [39]:
a = "hello"

In [40]:
a

'hello'

In [41]:
a[1]

'e'

In [42]:
a[-1]

'o'

In [44]:
a[0:4:2]

'hl'

In [45]:
a[0:5:2]

'hlo'

In [46]:
a[0:-1:2]

'hl'

In [47]:
"world"

'world'

In [48]:
'this is also string'

'this is also string'

In [49]:
"I'm going to run"

"I'm going to run"

In [50]:
print(a)

hello

In [51]:
print(a)

hello

In [52]:
print(hello world)

SyntaxError: invalid syntax (<ipython-input-52-6135c6da936c>, line 1)

In [53]:
print('hello world')

hello world

In [54]:
print('hello \nworld')

hello
world

In [55]:
print('hello \tworld')

hello 	world

In [56]:
len(a)

5

In [57]:
mystring = "Hello World"

In [58]:
mystring

'Hello World'

In [59]:
mystring[0]

'H'

In [60]:
mystring = "abcdefghijkl"

In [61]:
mystring

'abcdefghijkl'

In [62]:
mystring[2:]

'cdefghijkl'

In [63]:
mystring[:3]

'abc'

In [64]:
mystring[3:7]

'defg'

In [65]:
mystring[4:8]

'efgh'

In [66]:
mystring[::2]

'acegik'

In [67]:
mystring[::3]

'adgj'

In [68]:
mystring[::4]

'aei'

In [69]:
 mystring[::-1]

'lkjihgfedcba'

In [70]:
name = "Dhruv"

In [72]:
#name [0] = 'P' - Error: TypeError: 'str' object does not support item assignment

In [73]:
last_letters = name[1:]

In [74]:
last_letters

'hruv'

In [75]:
'P' + last_letters

'Phruv'

In [76]:
name + " is my name"

'Dhruv is my name'

In [77]:
name = name + " is my name"

In [78]:
name

'Dhruv is my name'

In [79]:
letter = 'z'

In [80]:
letter * 10

'zzzzzzzzzz'

In [82]:
letter + '3'

'z3'

In [83]:
letter.upper()

'Z'

In [85]:
letter.capitalize()

'Z'

In [86]:
name.split()

['Dhruv', 'is', 'my', 'name']

In [87]:
name.split('i')

['Dhruv ', 's my name']

In [88]:
print('hello')

hello

In [90]:
print ("Hello " + name)

Hello Dhruv is my name

In [91]:
name = "Dhruv"

In [92]:
print ("Hello " + name)

Hello Dhruv

In [93]:
print ("Hello {}".format(name))

Hello Dhruv

In [96]:
print('The {0} {1} {0}'.format('fox','brown','quick'))

The fox brown fox

In [97]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

#Float formatiing follows "{value:width.precision f}"

In [98]:
result = 100/777

In [99]:
result

0.1287001287001287

In [101]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [102]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [104]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [105]:
name = "Dhruv"

In [106]:
print ("Hello {}".format(name))

Hello Dhruv

# f-literal method

In [107]:
print (f'Hello, my name is {name}')

Hello, my name is Dhruv

In [108]:
age = 25

In [109]:
print (f'Hello, my name is {name} and age is {age}')

Hello, my name is Dhruv and age is 25