## Objects and Data Structures Assessments Test

Numbers: int,float, (+,-)

Sequences: Strings, Lists, Tuples

    Strings: ordered collection/sequence of characters, indexing & slicing, 

    Lists: ordered collection of diff data types, mutable

    Tuples: similar to lists but immutable values - with only 2 methods (count and index)

Mappings: Dictionaries

    Dictionaries: unordered collection of objects with key-value mappings
    
    Sets: unordered collection of unique objects
    
Booleans: Logical values with True/False

In [3]:
(((5 ** 2) * 4) + ( 1 / 4 ) - 0)

100.25

In [4]:
4 * (6 + 5)

44

In [5]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

In [7]:
3 + 1.5 + 4

8.5

In [8]:
type(3 + 1.5 + 4)

float

In [13]:
121 ** (1/2)

11.0

In [12]:
25 ** 2

625

In [14]:
print('hello'[1])

e

In [26]:
print('hello'[::-1])

olleh

In [27]:
print('hello'[4])

o

In [28]:
print('hello'[-1])

o

In [42]:
ll = [0]*3
print(ll)

[0, 0, 0]

In [41]:
print([0,0,0])

[0, 0, 0]

In [44]:
ls = [1,2,[3,4,'hello']]

In [51]:
ls[2][2] = 'goodbye'

In [52]:
ls

[1, 2, [3, 4, 'goodbye']]

In [53]:
lt = [5,3,4,6,1]

In [56]:
lt.sort()

In [57]:
print(lt)

[1, 3, 4, 5, 6]

In [94]:
sorted(lt)

[1, 3, 4, 5, 6]

In [77]:
d1 = {'sk':'hello'}
d1['sk']

'hello'

In [78]:
d2 = {'k1':{'k2':'hello'}}
d2['k1']['k2']

'hello'

In [79]:
d3 = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d3['k1'][0]['nest_key'][1][0]

'hello'

In [80]:
d4 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d4['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [81]:
d5 = {'k1':1,'k2':3,'k3':2}

In [85]:
d5.values()

dict_values([1, 3, 2])

### We can't sort the dictionary as it contains key value mappings

In [ ]:
Tuples - immutable, list - mutable

create tuple with ()

Set - collection of unique objects

In [87]:
ls2 = [1,2,2,33,4,4,11,22,3,3,2]
set(ls2)

{1, 2, 3, 4, 11, 22, 33}

In [88]:
2 > 3

False

In [89]:
3 <= 2

False

In [90]:
3 == 2.0

False

In [91]:
3.0 == 3

True

In [92]:
4 ** 0.5 != 2

False

In [93]:
#two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False