### If..Elif..Else

In [1]:
if True: 
    print ('ITS True!')

ITS True!

In [2]:
if 3>2:
    print ('It is True!')

It is True!

In [3]:
hungry = True

if hungry:
    print('Feed ME!')

Feed ME!

In [4]:
hungry = False

if hungry:
    print('Feed ME!')
else:
    print('I\'m not Hungry')

I'm not Hungry

In [8]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool")
else:
    print("I don\'t know much")

Cars are cool!

### For Loops

In [9]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [10]:
for i in mylist:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [11]:
for num in mylist:
    # Check for even nos here
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [14]:
for num in mylist:
    # Check for even nos here
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [17]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [19]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [20]:
tup = (1,2,3)

for i in tup:
    print(i)

1
2
3

In [21]:
mylist = [(1,2),(3,4),(5,6)]

In [22]:
len(mylist)

3

In [23]:
for i in mylist:
    print(i)

(1, 2)
(3, 4)
(5, 6)

#### Refer Tuple unpacking, Example below

In [26]:
for (a,b) in mylist:
#    print(a)
    print(b)

2
4
6

In [28]:
d = {'k1':1,'k2':2,'k3':3}

for i in d:
    print(i)

k1
k2
k3

In [29]:
d = {'k1':1,'k2':2,'k3':3}

for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [30]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(key)

k1
k2
k3

In [31]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

### While loops

In [36]:
x = 10

while x < 5:
    print(f'value of x is {x}')
    
    x += 1
    
else:
    print("X is not less than 5")

X is not less than 5

#### Break, Continue, Pass

In [45]:
x = [1,2,3]

for item in x:
    pass
print('end of my script')

end of my script

In [49]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [50]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [53]:
x = 0

while x < 5:
    if x == 2:
        break
    print(f'value of x is {x}')
    
    x += 1

value of x is 0
value of x is 1

### Operators

In [54]:
mylist = [1,2,3]

In [56]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [57]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [59]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [60]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [62]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [63]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [64]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [68]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [69]:
ml1 = [1,2,3]
ml2 = ['a','b','c']

for item in zip(ml1,ml2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [70]:
zip(ml1)

In [71]:
ml1 = [1,2,3,4,5,6]
ml2 = ['a','b','c']

for item in zip(ml1,ml2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [72]:
list(zip(ml1,ml2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [77]:
for a,b in zip(ml1,ml2):
    print(b)

a
b
c

In [78]:
'x' in ml1

False

In [79]:
'a' in ml2

True

In [80]:
'a' in 'a world'

True

In [81]:
'mykey' in {'mykey': 123}

True

In [82]:
d = {'mykey': 123}

123 in d.keys()

False

In [83]:
d = {'mykey': 123}

123 in d.values()

True

In [84]:
mylist = [10,20,30]

In [85]:
min(mylist)

10

In [86]:
max(mylist)

30

### Random library

In [87]:
from random import shuffle

In [88]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [89]:
shuffle(mylist)

In [90]:
mylist

[6, 8, 10, 1, 9, 4, 2, 3, 7, 5]

In [91]:
random_list = shuffle(mylist)

In [92]:
random_list

In [93]:
type(random_list)

NoneType

In [95]:
mylist

[4, 6, 8, 9, 2, 10, 1, 7, 5, 3]

#### Works only as "in place function"

In [96]:
from random import randint

In [98]:
randint(0,100)

35

In [99]:
mynum = randint(0,100)

In [100]:
mynum

47

In [101]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [102]:
result = input('What is your name? ')

What is your name? Dhruv

In [103]:
result

'Dhruv'

In [104]:
result = input('Fav number: ')

Fav number: 30

In [105]:
result

'30'

In [106]:
type(result)

str

In [107]:
int(result)

30

### List Comprehensions

#### Alternative to for loop with .append() to create list

In [108]:
mystring = 'hello'

In [109]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [110]:
mylist

['h', 'e', 'l', 'l', 'o']

In [111]:
# Now alternative

mylist = [letter for letter in mystring]

In [112]:
mylist

['h', 'e', 'l', 'l', 'o']

In [113]:
mylist = [var for var in 'hello']

In [114]:
mylist

['h', 'e', 'l', 'l', 'o']

In [115]:
mylist = [num for num in range(0,11)]

In [116]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
mylist = [num**2 for num in range(0,11)]

In [119]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [121]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [122]:
mylist

[0, 2, 4, 6, 8, 10]

In [123]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [124]:
mylist

[0, 4, 16, 36, 64, 100]

In [125]:
celcius = [0,12,30,45.5]

farenheit = [( (9/5)*temp + 32) for temp in celcius]

In [126]:
farenheit

[32.0, 53.6, 86.0, 113.9]

In [128]:
farenheit = []

for temp in celcius:
    farenheit.append(( (9/5)*temp + 32 ))

In [129]:
farenheit

[32.0, 53.6, 86.0, 113.9]

In [130]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [131]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [132]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [133]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [134]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [135]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]